.CardSchool {
    color: #282977;
    width: 20%;
    height: 50vh;
    background-color: #EFF3F7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Number {
    color: #fff;
    font-size: 2vw;
    background-color: #499FDB;
    width: 5vw;
    height: auto;
    border-radius: 100px;
    padding: 2.5vh 0;
}

.CardSchool h3 {
    font-size: 1.3vw;
}

.CardSchool p {
    font-size: 1.1vw;
}

img {
    width: 30%;
}