.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image {
    width: 5%;
    height: auto;
}

.Navbar i {
    font-size: 1.5vw;
    padding: 0 10px;
}

@media(max-width: 800px) {
    .image {
        width: 10%;
        height: auto;
    }

    .Navbar i {
        font-size: 18px;
    }
}