.Section2 {
    background-color: DeepSkyBlue;
    color: #fff;
}

.Section2 h2 {
    padding: 20px 0;
    border-bottom: 2px solid #fff;
    width: 90%;
    margin: auto;
    font-size: 3vw;
}

.Row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MoreBtn {
    font-size: 1vw;
    width: 20%;
    display: block;
    margin: auto;
    outline: none;
}

.bTybGL {
    background: none !important;
    border: none !important;
    color: #fff !important;
    box-shadow: none !important;
    max-height: none !important;
}

.kyJvRZ {
    background: none !important;
    border: none !important;
    color: #fff !important;
    box-shadow: none !important;
    max-height: none !important;
}

.bkVSTc {
    display: none !important;
}

.Carousel {
    display: none !important;
}

@media(max-width: 800px) {
    .Section2 h2 {
        font-size: 30px;
    }

    .MoreBtn {
        font-size: 20px;
        width: 80%;
    }

    .Row {
        display: none;
    }

    .Carousel {
        display: block !important;
    }
}