.Section1 {
    color: blue;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 30%;
    padding: 2vh 0;
    background-color: blue;
    border-color: blue;
    border-radius: 50px;
    font-size: 1.5vw;
    color: white;
}